langchain-core
langgraph>0.2.27
langchain
langchain-google-genai
fastapi
uvicorn
sse_starlette
langchain-community
pypdf
sentence-transformers
langchain-huggingface
faiss-cpu
Wikipedia
arxiv
supabase
duckduckgo-search
spotipy
python-multipart
psutil